@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

$pink:#f6b5c1 ;
$blue:#f0072bc ;

html, body {
  font-family: 'Roboto', sans-serif;
  color: black;
  overflow-x: hidden;
}

html {
  background: $pink;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  border: 15px solid $blue;
  display: flex;
  flex-direction: column;
}

.strobo-top,
.strobo-trails {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.strobo {
  position: absolute;
  top: 50px;
}

.strobo {
  vector-effect: non-scaling-stroke;
  display: block;
  width: 100%;
  max-width: 600px;
}


.strobo-top {
  opacity: 0;
	-webkit-animation: show .8s ease-in forwards;
  animation-delay:2s;
  -webkit-animation-delay: 2s;
}

.s-t1 {
   opacity: 0;
	-webkit-animation: move-1 .6s ease-out forwards;
  animation-delay:3s;
  -webkit-animation-delay: 3s;
}

.s-t2 {
   opacity: 0;
	-webkit-animation: move-2 .6s ease-out forwards;
  animation-delay:3.5s;
  -webkit-animation-delay: 3.5s;
}

.s-t3 {
   opacity: 0;
	-webkit-animation: move-3 .6s ease-out forwards;
  animation-delay:4s;
  -webkit-animation-delay: 4s;
}

.s-t4 {
   opacity: 0;
	-webkit-animation: move-4 .6s ease-out forwards;
  animation-delay:4.5s;
  -webkit-animation-delay: 4.5s;
}

.s-t5 {
   opacity: 0;
	-webkit-animation: move-5 .6s ease-out forwards;
  animation-delay:5s;
  -webkit-animation-delay: 5s;
}

@-webkit-keyframes show {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes move-1 {
	0% { opacity: 0; -webkit-transform: translateY(0px); }
	100% { opacity: 1; -webkit-transform: translateY(6px); }
}

@-webkit-keyframes move-2 {
	0% { opacity: 0; -webkit-transform: translateY(0px); }
	100% { opacity: 1; -webkit-transform: translateY(12px); }
}

@-webkit-keyframes move-3 {
	0% { opacity: 0; -webkit-transform: translateY(0px); }
	100% { opacity: 1; -webkit-transform: translateY(18px); }
}

@-webkit-keyframes move-4 {
	0% { opacity: 0; -webkit-transform: translateY(0px); }
	100% { opacity: 1; -webkit-transform: translateY(24px); }
}

@-webkit-keyframes move-5 {
	0% { opacity: 0; -webkit-transform: translateY(0px); }
	100% { opacity: 1; -webkit-transform: translateY(30px); }
}

@-webkit-keyframes img-shift {
	0% { opacity: 0; -webkit-transform: translateX(-900px); }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-webkit-keyframes caption-shift {
	0% { opacity: 0; -webkit-transform: translateX(800px); }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-webkit-keyframes dtl-shift-left {
	0% { opacity: 0; -webkit-transform: translateY(-1000px); }
	100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-webkit-keyframes dtl-shift-right {
	0% { opacity: 0; -webkit-transform: translateY(-1000px); }
	100% { opacity: 1; -webkit-transform: translateY(0); }
}

.img {
  background: black;
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 500px;

  opacity: 0;
	-webkit-animation: img-shift .6s ease-out forwards;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

.caption {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  flex-flow: row-reverse;

 opacity: 0;
 -webkit-animation: caption-shift .6s ease-out forwards;
 animation-delay: 6s;
 -webkit-animation-delay: 6s;

}

.caption > div {
  width: 30%;
  max-width: 160px;
  font-weight: bold;
  margin: 5px;
  font-size: 9px;
  letter-spacing: 1px;
}

.title {
  position: relative;
  top: -45px;
  text-align: center;

    span {
      color: white;
      font-weight: 900;
      display: block;

      &:nth-of-type(1) {
        font-size: 60px;
        letter-spacing: .4rem;
      }
      &:nth-of-type(2) {
        font-size: 40px;
        letter-spacing: .9rem;
      }
    }
}

.wave-cont {
  position: relative;
  bottom: -150px;
  left: 90%;
  overflow: hidden;


  img {
    display: block;

      &:nth-of-type(2) {
      margin-top: -40px; }
      &:nth-of-type(3) {
      margin-top: -40px; }

  }
}

.about {
  position: absolute;
  top: 20px;
  left:30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  line-height: 30px;
}

 .btn {
  padding: 2px 4px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  border: 3px solid black;

   &:hover {
    background: white;
    border: 3px solid black;
   }
}

a, a:link {
  color: black;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

footer {
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  width: 100%;

}

.plus {
  font-size: 24px;
  font-weight: 900;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 20px;
  align-text: center;

    opacity: 0;
	-webkit-animation: show .8s ease-in forwards;
  animation-delay:7s;
  -webkit-animation-delay: 7s;
}

div[id^="dtl-"] {
  font-weight: bold;
  letter-spacing: 3px;
  position: absolute;
  top: 400px;
  overflow-x: hidden;

}

#dtl-left {
  transform: rotate(270deg);
  left: -150px;

  div {
    opacity: 0;
    -webkit-animation: dtl-shift-left .6s ease-out forwards;
    animation-delay:4.5s;
    -webkit-animation-delay: 4.5s;
  }
}

#dtl-right {
  transform: rotate(90deg);
  right: -150px;

    div {
      opacity: 0;
      -webkit-animation: dtl-shift-right .6s ease-out forwards;
      animation-delay:4.5s;
      -webkit-animation-delay: 4.5s;
  }
}
