body {
    background-color: linen;
    color: maroon;
    font-family: 'Hind', sans-serif;
    font-weight: normal;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2;
    margin-top: 50;
    margin-left: 40px;
    -webkit-font-smoothing: antialiased;
-webkit-backface-visibility: hidden;
}
